<%= stylesheet_link_tag "trivia-index" %>
<%= stylesheet_link_tag "uniform" %>


<section class="container-fluid" id="top_pic">
    <div class="container text-white text-center">
      <h2 class="mb-4">Ready to Play?</h2>
      <div class="container just_know col-lg-6 col-md-8 mx-auto">
        <%= link_to "Play now",trivium_path(@trivia.ids), class: "edit mt-3"  %>
      </div>
    </div>
</section>

<section id="team" class="pb-5 bg-violet">
    <div class="container">
        <h1 class="text-center p-5">Ludee Global Loan Fund Status</h1>
        <hr class="one pb-8">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
              <div class="mainflip flip-0">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><%= image_tag "avatar_trivia.png", class: "img-fluid mt-3", alt: "avatar" %></p>
                      <h3 class="card-title text-white">Jean Delatour</h3>
                      <h4 class="card-text text-white">Loan Total: 19.000$</h4>
                      <h4 class="card-text text-white">Paid: 9.000$</h4>
                      <h4 class="card-text text-white">Left: 10.000$</h4>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center px-8">
                      <h4 class="card-title text-muted p-3">Loan Status</h4>
                      <h5 class="card-text text-white">On Going</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>



<section id="team" class="pb-5">
  <div class="container">
  <h1 class="text-center p-5">Game Rank</h1>
  <hr class="one pb-8">
  <div class="row">
  <!-- Team member -->
  <% @user.each do |user| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="image-flip" >
      <div class="mainflip flip-0">
        <div class="frontside">
          <div class="card">
            <div class="card-body text-center">
               <p>
                 <%= image_tag "avatar3.jpeg", class:"img-fluid mt-3", width:"50" unless user.avatar.attached? %>
                 <%= image_tag user.avatar, class:"img-fluid mt-3", width:"50" if user.avatar.attached? %>
               </p>
               <h4 class="card-title text-muted"><%= user.first_name if user.avatar.attached?%><%= user.id unless user.avatar.attached?%><%= user.last_name%></h4>
                <p class="card-text text-white">Challenger score :<%= user.score%> </p>
            </div>
          </div>
        </div>
        <div class="backside">
          <div class="card">
            <div class="card-body text-center mt-4 px-8">
            <h4 class="card-title text-muted mt-4">Current Score</h4>
            <h1 class="card-text mt-3"><%= user.score%></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
</div>
</div>
</section>

<section class="container-fluid" id="top_pic">
    <div class="container text-white text-center">
      <h2 class="mb-4">Ready to Play?</h2>
      <div class="container just_know col-lg-6 col-md-8 mx-auto">
        <%= link_to "Play now",trivium_path(@trivia.ids), class: "edit mt-3"  %>
      </div>
    </div>
</section>