<%= stylesheet_link_tag "registration" %>
<div class="container pt-5 pb-5" id="registration">
  <div class="background_box">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-left">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
              <div class="d-flex flex-column align-items-center text-left">

    <%= f.hidden_field :reset_password_token %>

            <div class="form-group pt-4">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

            <div class="form-group pt-4">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>
    <div class="actions pt-4">
    <input type="submit" class="edit btn pb-3" value="Change"<%= f.submit "Change" %></input>
<% end %>
        <div class="d-flex flex-column align-items-center text-left">

<%= render "devise/shared/links" %>
</div>
    </div>
  </div>
</div></div>
</div>