  <%= stylesheet_link_tag "navbar" %>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <%= image_tag "deer.png", class: "logo d-inline-block align-middle", alt: "Logo image" %>
      <%= link_to "Ludee", root_path, class: "navbar-brand site_title" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li  class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %>
              </li>

              <li  class="nav-item">
                <%= link_to "My Profile", static_pages_secret_path, class: "nav-link" %>
              </li>
              <li  class="nav-item">
                <a class="nav-link">My score :<%= current_user.score%></a>
              </li>
              <li  class="nav-item">
                 <%= image_tag "avatar3.jpeg", class:"rounded-circle", width:"50" unless current_user.avatar.attached? %>
                 <%= image_tag current_user.avatar, class:"rounded-circle", width:"50" if current_user.avatar.attached? %>
              </li>
            <% else %>
              <li class="nav-item">    
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">    
                <a class="nav-link" href ="#how_it_works">How It Works</a>
              </li>
              <li class="nav-item price">    
                <a class="nav-link" href ="#price">Price</a>
              </li>
              <li class="nav-item">    
                <%= link_to "Sign in", user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
              </li>

            <% end %> 
        </ul>
      </div>
    </div>
  </nav>